.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.authNav {
  display: none !important;
}

.button {
  background-color: transparent;
}

.button > .icon {
  stroke: #262626;
}

@media (min-width: 768px) {
  .header {
    padding: 32px 32px;
    justify-content: flex-end;
  }

  .logo {
    margin-right: auto;
  }

  .logo > .icon {
    width: 105px;
    height: 28px;
  }

  .authNav {
    display: flex !important;
  }

  .button {
    margin-left: 16px;
  }

  .button > .icon {
    width: 36px;
    height: 36px;
  }
}
