.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.homeHeader {
  padding: 10px 20px 0 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.headerWrapper {
  padding: 18px 20px 0 20px;
  background-color: #f6b83d;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none !important;
}

.authNav {
  display: none !important;
}

.button {
  background-color: transparent;
}

.button > .icon {
  stroke: #262626;
}

.homeButton {
  background-color: transparent;
}

.homeButton > .icon {
  stroke: #fff;
}

@media (min-width: 768px) {
  .header {
    padding: 32px 32px;
    justify-content: flex-end;
  }

  .homeHeader {
    padding: 16px 32px 0 32px;
  }

  .headerWrapper {
    padding: 16px 32px 0 32px;
    border-radius: 60px 60px 0 0;
  }

  .logo {
    margin-right: auto;
  }

  .logo > .icon {
    width: 105px;
    height: 28px;
  }

  .authNav {
    display: flex !important;
  }

  .button {
    margin-left: 16px;
  }

  .button > .icon {
    width: 36px;
    height: 36px;
  }

  .homeButton {
    margin-left: 18px;
  }

  .homeButton > .icon {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 32px 64px;
    justify-content: flex-end;
  }

  .headerWrapper {
    padding: 16px 64px 0 64px;
  }

  .nav {
    display: flex !important;
  }

  .button {
    display: none;
  }

  .homeButton {
    display: none;
  }
}
