.section {
  padding: 20px;
}

.image {
  margin-bottom: 10px;
}

.form {
  border-radius: 30px;
  width: 335px;
  height: auto;
  padding: 27px 20px;
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 374px) {
  .form {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 32px;
  }

  .image {
    margin-bottom: 16px;
  }

  .form {
    padding: 30px 140px;
    border-radius: 60px;
    width: 704px;
    height: 560px;
  }
}

@media (min-width: 1280px) {
  .section {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .image {
    margin-bottom: 0px;
  }

  .form {
    padding: 77px 84px;
    width: 592px;
    height: 654px;
  }
}
