.button {
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  background-color: #fff4df;
}

.button:hover {
  background-color: #fbe7c1;
}

.icon {
  fill: #f6b83d;
}
