.button {
  width: 38px;
  height: 38px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  background-color: var(--color-secondary);
}

.button:hover {
  background-color: var(--color-secondary-hover);
}

.icon {
  stroke: var(--color-primary);
  fill: transparent;
}
