.card {
  width: 335px;
  height: 379px;
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: var(--foreground);
  margin-bottom: 12px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--foreground);
}

.newsInfo {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

@media (min-width: 320px) and (max-width: 374px) {
  .card {
    width: 100%;
    max-width: 335px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 340px;
    height: 476px;
  }

  .image {
    margin-bottom: 28px;
    height: 226px;
  }

  .title {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 14px;
  }

  .text {
    font-size: 16px;
    line-height: 125%;
  }

  .date {
    font-size: 16px;
    line-height: 125%;
  }

  .link {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1280px) {
  .card {
    width: 361px;
  }

  .text {
    font-size: 16px;
    line-height: 125%;
  }

  .date {
    font-size: 16px;
    line-height: 125%;
  }

  .link {
    font-size: 16px;
    line-height: 125%;
  }
}
