.section {
  width: 335px;
  height: auto;
  padding: 18px 20px 40px;
  border-radius: 30px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.user {
  width: 80px;
  height: 38px;
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #f6b83d;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.icon {
  fill: #fff;
}

@media (min-width: 320px) and (max-width: 374px) {
  .section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .section {
    width: 704px;
    padding: 40px;
    border-radius: 60px;
    position: relative;
    margin: 0 auto;
  }

  .header {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
  }
}

@media (min-width: 1280px) {
  .section {
    width: 520px;
  }
}
