/* .section {
  padding: 54px 20px 80px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding-top: 85px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-top: 96px;
    padding-right: 64px;
    padding-left: 64px;
  }
} */
