.section {
  padding: 54px 20px 80px;
  margin: 0 auto;
}

.newsHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 85px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .newsHeader {
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 44px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-top: 96px;
    padding-right: 64px;
    padding-left: 64px;
  }

  .newsHeader {
    margin-bottom: 60px;
  }
}
