.section {
  padding: 54px 20px 80px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 85px 32px 80px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 96px 64px 80px;
    max-width: 1280px;
  }
}
