.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 103px;
  height: 38px;
  border-radius: 30px;
  background-color: #f6b83d;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  transition: background-color 0.3s ease;
}

.icon {
  stroke: #fff;
}

.link:hover {
  background-color: #f9b020;
}

@media (min-width: 768px) {
  .link {
    width: 118px;
    height: 40px;
    font-size: 16px;
    line-height: 125%;
  }
}
