.main {
  position: relative;
  max-width: 100%;
  height: 812px;
}

.image {
  margin: 0 auto;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 320px) and (max-width: 374px) {
  .image {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .main {
    height: 1024px;
  }

  .image {
    width: 768px;
    height: 1024px;
  }

  .link > .icon {
    width: 374px;
    height: 100px;
  }
}

@media (min-width: 1280px) {
  .main {
    height: 800px;
  }

  .image {
    min-width: 1280px;
    height: 800px;
  }
}
