.section {
  padding: 28px 20px 20px;
  width: 335px;
  border-radius: 30px;
  background-color: #fff;
}

.titleContainer {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 28px;
}

.header {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--foreground);
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

.genderBar {
  border: none;
  padding: 0;
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}

.genderBar > legend {
  display: none;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  padding: 6px;
  width: 32px;
  height: 32px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.radio svg {
  transition:
    stroke 0.3s ease,
    fill 0.3s ease;
}

.radio > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.femaleRadio {
  background-color: rgba(244, 63, 94, 0.1);
}

.femaleIcon {
  fill: none;
  stroke: #f43f5e;
}

.femaleRadio:has(input:checked) {
  background-color: #f43f5e;
}

.femaleRadio:has(input:checked) .femaleIcon {
  stroke: #fff;
}

.maleRadio {
  background-color: rgba(84, 173, 255, 0.1);
}

.maleIcon {
  fill: none;
  stroke: #54adff;
}

.maleRadio:has(input:checked) {
  background-color: #54adff;
}

.maleRadio:has(input:checked) .maleIcon {
  stroke: #fff;
}

.multipleRadio {
  background-color: #fff4df;
}

.multipleIcon {
  fill: #f6b83d;
}

.multipleRadio:has(input:checked) {
  background-color: #f6b83d;
}

.multipleRadio:has(input:checked) .multipleIcon {
  fill: #fff;
}

.defaultImage {
  width: 68px;
  height: 68px;
  padding: 17px;
  border-radius: 100px;
  background-color: #fff4df;
  margin: 0 auto;
  margin-bottom: 16px;
}

.defaultImage > .icon {
  fill: #f6b83d;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 31px;
}

.formInputs .input {
  width: 295px;
  height: 42px;
  padding: 12px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  outline: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--foreground);
}

.formInputs .input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.selectWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.selectControl {
  width: 143px;
  padding: 12px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--foreground);
  outline: transparent;
}

.selectControl svg {
  transition: transform 0.3s ease;
}

.dropDownArrow svg {
  transform: rotate(180deg);
}

.selectPlaceholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.selectMenu {
  margin-top: 4px;
  width: 143px;
  height: 78px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 15px;
  background-color: #fff;
  overflow: auto;
}

.selectMenuList {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selectOption {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.6);
}

.backBtn {
  width: 100px;
  height: 42px;
  padding: 12px;
  border-radius: 30px;
  background-color: rgba(38, 38, 38, 0.05);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--foreground);
  display: block;
  margin: 0 auto;
}

.backBtn:hover {
  background-color: rgba(38, 38, 38, 0.15);
}
