.section {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .section {
    padding: 0 32px 32px;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .section {
    flex-direction: row;
    gap: 32px;
  }
}
