.section {
  padding: 0 20px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .section {
    padding: 0 32px 60px;
  }
}

@media (min-width: 1280px) {
  .section {
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
  }
}
