.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.menu {
  width: 218px;
  height: 812px;
  background: #fff;
  position: relative;
  padding: 40px 50px;
}

.button {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
}

.icon {
  stroke: #262626;
}
