.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.menu {
  width: 218px;
  height: 100%;
  position: relative;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.orange {
  background-color: #f6b83d;
}

.white {
  background-color: #fff;
}

.button {
  position: absolute;
  top: 28px;
  right: 20px;
  background-color: transparent;
}

.whiteIcon {
  stroke: #fff;
}

.blackIcon {
  stroke: #262626;
}

@media (min-width: 768px) {
  .menu {
    width: 374px;
    padding: 49px 40px;
  }

  .button {
    top: 39px;
    right: 32px;
  }
}
