.section {
  padding: 50px 20px 88px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 85px 32px 88px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 96px 63px 80px;
    max-width: 1280px;
  }
}
