.modal {
  padding: 40px 20px;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--color-secondary);
  margin: 0 auto;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-primary);
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--foreground);
  margin-bottom: 24px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.login {
  border-radius: 30px;
  padding: 12px;
  width: 135px;
  background-color: var(--color-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: var(--color-primary-hover);
}

.register {
  border-radius: 30px;
  padding: 12px;
  width: 129px;
  background-color: var(--color-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--color-primary);
  text-align: center;
  transition: background-color 0.3s ease;
}

.register:hover {
  background-color: var(--color-secondary-hover);
}

@media (min-width: 768px) {
  .modal {
    padding: 60px;
  }

  .title {
    font-size: 24px;
    line-height: 117%;
  }

  .text {
    width: 346px;
  }

  .login {
    padding: 14px;
    width: 140px;
    font-size: 16px;
    line-height: 125%;
  }

  .register {
    padding: 14px;
    width: 140px;
    font-size: 16px;
    line-height: 125%;
  }
}
