.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 119px;
  height: 164px;
  margin-bottom: 280px;
}

.link {
  border-radius: 30px;
  padding: 15px 24px;
  width: 119px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-align: center;
}

.white {
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}

.white:hover,
.white:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.grey {
  border: 1px solid rgba(38, 38, 38, 0.15);
  color: var(--foreground);
}

.grey:hover,
.grey:focus {
  border: 1px solid #f6b83d;
}

@media (min-width: 768px) {
  .navigation {
    width: 120px;
    height: 170px;
    margin-bottom: 395px;
  }

  .link {
    padding: 15px 19px;
    height: 50px;
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 1280px) {
  .navigation {
    width: 316px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-right: auto;
    flex-direction: row;
  }

  .link {
    width: auto;
    font-size: 16px;
    line-height: 125%;
  }
}
