.form {
  margin-top: 12px;
}

.welcome {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--foreground);
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 6px;
}

.input {
  width: 295px;
  height: 42px;
  padding: 12px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
  transition: border-color 250ms ease;
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.input:focus,
.input:hover {
  border-color: #f6b83d;
}

.error {
  position: absolute;
  top: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;
  margin-top: 2px;
  margin-left: 12px;
}

.login {
  width: 295px;
  height: 42px;
  border-radius: 30px;
  padding: 12px;
  background-color: #f6b83d;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.login:hover {
  background-color: #f9b020;
}

.question {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  text-align: center;
}

.link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 374px) {
  .input,
  .login {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .form {
    margin-top: 16px;
  }

  .welcome {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 122%;
  }

  .formInputs {
    gap: 16px;
    margin-bottom: 64px;
  }

  .label {
    margin-bottom: 12px;
  }

  .input {
    width: 424px;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    line-height: 125%;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .error {
    font-size: 12px;
    line-height: 117%;
    margin-top: 4px;
    margin-left: 16px;
  }

  .login {
    width: 424px;
    height: 52px;
    padding: 16px;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 16px;
  }

  .question {
    font-size: 14px;
    line-height: 143%;
  }
}
